*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Inicio del header */
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1E172F;
    height: 7vh;
}

header a{
    text-decoration: none;
    color: #8E8A96;
    margin-left: 35px;
    font-size: 18px;
    font-family: sans-serif;
}

header a:hover{
    color: white;
    box-shadow: 3px 5px 10px rgb(255, 255, 255);
}

header img{
    width: 8%;
}

.boton1{
    border: 2px;
    background: linear-gradient(to right,#8043D5, #2F6BD6);
    padding: 13px 20px 13px 20px;
    border-radius: 5px;
    color: white;
}
/* Fin del header */

/* Inicio de la section 1 */


.sec1 h1{
    color: white;
}

.sec1 p{
    color:white;
}

.sec1{
  display: flex;
  height: 100vh;
  width: 100vw;
}

.img{
    flex: 1;
    background: url(../assets/hojasFondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
}


.sec1left{
    flex: 1;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


























footer img{
    width: 20px;
}